<!-- <section>
  <div class="bg-black text-white py-20">
    <div class="container mx-auto flex flex-col md:flex-row items-center my-12 md:my-24">
      <div class="flex flex-col w-full lg:w-1/3 justify-center items-start p-8">
        <h1 class="text-3xl md:text-5xl p-2 text-yellow-300 tracking-loose">TechFest</h1>
        <h2 class="text-3xl md:text-5xl leading-relaxed md:leading-snug mb-2">Space : The Timeless Infinity
        </h2>
        <p class="text-sm md:text-base text-gray-50 mb-4">Explore your favourite events and
          register now to showcase your talent and win exciting prizes.</p>
        <a href="#"
          class="bg-transparent hover:bg-yellow-300 text-yellow-300 hover:text-black rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent">
          Explore Now</a>
      </div>
      <div class="p-8 mt-12 mb-6 md:mb-0 md:mt-0 ml-0 md:ml-12 lg:w-2/3  justify-center">
        <div class="h-48 flex flex-wrap content-center">
          <div>
            <img class="inline-block mt-28 hidden xl:block"
              src="https://user-images.githubusercontent.com/54521023/116969935-c13d5b00-acd4-11eb-82b1-5ad2ff10fb76.png">
          </div>
          <div>
            <img class="inline-block mt-24 md:mt-0 p-8 md:p-0"
              src="https://user-images.githubusercontent.com/54521023/116969931-bedb0100-acd4-11eb-99a9-ff5e0ee9f31f.png">
          </div>
          <div>
            <img class="inline-block mt-28 hidden lg:block"
              src="https://user-images.githubusercontent.com/54521023/116969939-c1d5f180-acd4-11eb-8ad4-9ab9143bdb50.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- <div class="bg-gradient-to-br from-indigo-900 to-green-900 min-h-screen overflow-auto bg-cover" style="background-image: url(https://images.unsplash.com/photo-1537565609867-73c2edb961ac?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1489&q=80);"> -->
<div class="bg-gradient-to-br from-indigo-900 to-gray-900 min-h-screen overflow-auto">
  <div class="container max-w-5xl mx-auto px-4">
      <div class="w-4/5">
        <h1 class="mt-32 text-white text-6xl font-bold">Chào mừng đến với<br /><span class="text-blue-400">zinHub</span></h1>
      </div>
      <div class="hidden sm:block opacity-50 z-0">
        <div class="shadow-2xl w-96 h-96 rounded-full -mt-72"></div>
        <div class="shadow-2xl w-96 h-96 rounded-full -mt-96"></div>
        <div class="shadow-xl w-80 h-80 rounded-full ml-8 -mt-96"></div>
      </div>
    <div class="text-white relative">
      <h3 class="text-uppercase font-semibold p-4">Ứng dụng</h3>
      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-1 sm:gap-5">
        <ng-container *ngFor="let item of navLink">
          <div class="max-w-xs max-w-screen-sm w-full bg-gray-900 shadow-lg rounded-xl p-6 hover:cursor-pointer bg-opacity-60 hover:bg-opacity-100 transition ease-in duration-300">
            <div class="lg:flex pt-1 pb-4 text-sm text-gray-600">
              <div class="flex-1 inline-flex items-center mb-3">
                <div class="w-full flex-none text-sm flex items-center text-gray-600">
                  <ul class="flex flex-row justify-center items-center space-x-2">
                    <li class="">
                      <span class="block p-1 border-2 border-gray-900 hover:border-blue-600 rounded-full transition ease-in duration-300">
                        <a href="#blue" class="block w-3 h-3 bg-blue-600 rounded-full"></a>
                      </span>
                    </li>
                    <li class="">
                      <span class="block p-1 border-2 border-gray-900 hover:border-yellow-400 rounded-full transition ease-in duration-300">
                        <a href="#yellow" class="block w-3 h-3  bg-yellow-400 rounded-full"></a>
                      </span>
                    </li>
                    <li class="">
                      <span class="block p-1 border-2 border-gray-900 hover:border-red-500 rounded-full transition ease-in duration-300">
                        <a href="#red" class="block w-3 h-3  bg-red-500 rounded-full"></a>
                      </span>
                    </li>
                    <li class="">
                      <span class="block p-1 border-2 border-gray-900 hover:border-green-500 rounded-full transition ease-in duration-300">
                        <a href="#green" class="block w-3 h-3  bg-green-500 rounded-full"></a>
                      </span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="relative h-62 w-full mb-3 p-4 rounded border border-gray-800">
              <img src="{{ item.img }}"
                alt="Just a flower" class=" w-full   object-fill  rounded-2xl">
            </div>
            <div class="flex-auto justify-evenly">
              <div class="flex flex-wrap ">
                <div class="flex items-center w-full justify-between min-w-0 ">
                  <a class="text-lg mr-auto cursor-pointer text-gray-200 hover:text-red-500 truncate " [routerLink]="[item.path]">{{ item.name }}</a>
                </div>
              </div>              
            </div>
          </div>
          </ng-container>
      </div>
    </div>
  </div>
</div>