<div class="wrapper pt-4 pb-4">
  <div class="container ngzin-container">
    <div class="row g-1">
      <div class="col-md-3 p-1" *ngFor="let item of dataSummary">
        <div class="card p-2" [ngStyle]="{ 'background-color': item.options.bgColor}">
          <div class="text-center">
            <img [src]="item.options.urlImg" width="100">
          </div>
          <div class="product-details text-center">
            <span class="font-weight-bold d-block pt-2">{{ item.name }}</span>
            <h3>{{ item.value }}</h3>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3">
        <div class="card p-3">
          <div class="text-center"> <img src="https://i.imgur.com/ZRUetRF.jpg" width="200"> </div>
          <div class="product-details"> <span class="font-weight-bold d-block">$ 7.00</span> <span>Red Redish</span>
            <div class="buttons d-flex flex-row">
              <div class="cart"><i class="fa fa-shopping-cart"></i></div> <button
                class="btn btn-success cart-button btn-block"><span class="dot">1</span>Add to cart </button>
            </div>
            <div class="weight"> <small>1 piece 2.5kg</small> </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
<div class="wrapper pt-4 pb-4">
  <div class="container ngzin-container">
    <div [chart]="chart"></div>
  </div>
</div>
<div class="wrapper pt-4 pb-4" *ngIf="dataSummaryFull">
  <div class="container" style="padding-left: 0; padding-right: 0;">
    <table class="ngzin-styled-table" style="width: 100%;">
      <thead>
        <tr>
          <th>Địa điểm</th>
          <th>Khỏi bệnh</th>
          <th>Đang điều trị</th>
          <th>Tử vong</th>
          <th>Tổng</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of dataSummaryFull.detail">
          <td>{{ hcKeyVN[item['hc-key']]['name'] }}</td>
          <td>{{ item['socakhoi'] }}</td>
          <td>{{ item['socadangdieutri'] }}</td>
          <td>{{ item['socatuvong'] }}</td>
          <td>{{ item['value'] }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="wrapper pt-4 pb-4">
  <div class="text-center">
    <span>{{ resourceAPI.author }}</span><br>
    <span>{{ resourceAPI.sourceUrl }}</span>
  </div>
</div>