<div class="min-w-screen min-h-screen bg-gray-200 flex flex-col items-center justify-center px-5 py-5">
  <div class="w-full container sticky bottom-2  p-5 px-6 m-2  flex items-center justify-between  bg-gray-900 shadow-3xl text-gray-400 rounded-2xl cursor-pointer">
    <div class="h-8 flex flex-col items-center transition ease-in duration-200 hover:text-blue-400 ">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M11 15l-3-3m0 0l3-3m-3 3h8M3 12a9 9 0 1118 0 9 9 0 01-18 0z" />
      </svg>
    </div>
    <div class="flex flex-col items-center  hover:text-blue-400 ">
      <h2 class="text-lg md:text-2xl">Covid-2019</h2>
    </div>
    <div class="flex flex-col items-center transition ease-in duration-200 hover:text-blue-400 ">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z">
        </path>
      </svg>
    </div>
  </div>
  <div class="container">
    <div class="grid mt-4 gap-4 grid-cols-1 md:grid-cols-2 xl:grid-cols-2">
      <div class="flex flex-col" *ngFor="let item of dataSummary">
        <div class="bg-white shadow-md rounded-lg p-4" [ngStyle]="{ 'background-color': item.options.bgColor}">
          <div class="flex flex-row items-center justify-center lg:flex">
            <img [src]="item.options.urlImg" alt="icon"
              class="object-center object-scale-down lg:object-cover rounded-2xl w-16 md:w-32 lg:w-48 md:p-8 lg:p-8">
            <div class="flex-auto ml-3 justify-evenly py-2">
              <div class="px-3 p-2 md:p-4 lg:p-6 text-center relative">
                <h4 class="text-sm uppercase text-gray-500 leading-tight">{{ item.name }}</h4>
                <h3 class="text-2xl md:text-3xl lg:text-4xl text-gray-700 font-semibold leading-tight my-3">{{
                  item.value }}</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-6 bg-white rounded-2xl">
    <div class="wrapper">
      <div class="container ngzin-container">
        <div [chart]="chart"></div>
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div class="py-8">
      <div class="flex items-center">
        <h2 class="text-2xl font-semibold leading-tight">Thống kê</h2>
        <div class="relative text-gray-600 pl-2">
          <input type="search" name="serch" placeholder="Tìm kiếm"
            class="bg-white w-full h-10 px-5 rounded-full text-sm focus:outline-none">
          <button type="submit" class="focus:outline-none absolute right-0 top-0 mt-3 mr-4">
            <svg class="h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
              viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
              width="512px" height="512px">
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
            </svg>
          </button>
        </div>
      </div>
      <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
        <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
          <table class="min-w-full leading-normal">
            <thead>
              <tr>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Địa điểm
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Khỏi bệnh
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Đang điều trị
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Tử vong
                </th>
                <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                  Tổng cộng
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dataSummaryFull.detail" >
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <div class="flex items-center">
                    <!-- <div class="flex-shrink-0 w-10 h-10">
                      <img class="w-full h-full rounded-full"
                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                        alt="" />
                    </div> -->
                    <div class="ml-3">
                      <p class="text-gray-900 whitespace-no-wrap">
                        {{ hcKeyVN[item['hc-key']]['name'] }}
                      </p>
                    </div>
                  </div>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap">{{ item['socakhoi'] }}</p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap"> {{ item['socadangdieutri'] }} </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <p class="text-gray-900 whitespace-no-wrap"> {{ item['socatuvong'] }} </p>
                </td>
                <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                  <span class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                    <span aria-hidden class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                    <span class="relative">{{ item['value'] }}</span>
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper pt-4 pb-4 rounded">
    <div class="text-center">
      <span>{{ resourceAPI.author }}</span><br>
      <span>{{ resourceAPI.sourceUrl }}</span>
    </div>
  </div>
</div>