<div class="min-h-screen pt-5 pb-5" style="min-height: 100vh; background: url('https://i.redd.it/iibrptucse951.png'); background-repeat: no-repeat; background-size: cover">
  <section class="p-2 lg:p-0 xl:p-0 shadow-xl rounded-md h-full w-full lg:w-11/12 lg:mx-auto flex">
    <!-- List section -->
    <div class="hidden w-2/6 lg:flex flex-col justify-start items-stretch bg-white bg-opacity-80 rounded-md lg:rounded-none lg:rounded-l-md p-3">
      <div class="flex flex-row justify-between items-center mb-4">
        <div class="flex flex-row">
          <button class="bg-red-500 text-white rounded-full p-1 mr-2 cursor-pointer h-4 w-4 focus:outline-none focus:ring" aria-label="Close">
          </button>
          <button class="bg-yellow-500 text-white rounded-full p-1 mr-2 cursor-pointer h-4 w-4 focus:outline-none focus:ring" aria-label="Restore Down">
          </button>
          <button class="bg-green-500 text-white rounded-full p-1 mr-5 cursor-pointer h-4 w-4 focus:outline-none focus:ring" aria-label="Minimize">
          </button>
        </div>
        <h2 class="font-bold text-blue-500">Chùa Bửu Hưng</h2>
        <div class="p-1">
          <button class="bg-white text-blue-500 flex flex-row justify-center items-center p-2 rounded focus:ring-2 hover:bg-blue-500 hover:text-white focus:outline-none" aria-label="Add">
            <svg class="fill-current h-4 w-4" viewBox="0 0 25 25">
              <path d="M11 11v-11h1v11h11v1h-11v11h-1v-11h-11v-1h11z"/>
            </svg>
            <span class="hidden md:block">Tạo mới</span>
          </button>
        </div>
      </div>
      <div class="flex-auto flex flex-col">
        <div class="flex-auto flex flex-row">
          <div class="w-full p-1">
            <div class="w-full p-1my-2 flex sm:flex-row flex-col">
              <div class="flex flex-row mb-1 sm:mb-0">
                <div class="relative">
                  <select
                    class="w-auto rounded-r rounded-l appearance-none h-full rounded-r border-t sm:rounded-r-none sm:border-r-0 border-r border-b block appearance-none w-full bg-white border-gray-400 text-gray-700 py-2 px-4 pr-8 leading-tight focus:outline-none focus:border-l focus:border-r focus:bg-white focus:border-gray-500">
                    <option>Tất cả</option>
                    <option>Ấp 1</option>
                    <option>Ấp 2</option>
                  </select>
                </div>
              </div>
              <div class="block relative w-full">
                <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                  <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                    <path
                      d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z">
                    </path>
                  </svg>
                </span>
                <input placeholder="Search"
                  class="appearance-none rounded-r rounded-l sm:rounded-l-none border border-gray-400 border-b block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
              </div>
            </div>
            <ul class="overflow-y-auto" style="max-height: 75vh;">
              <li *ngFor="let item of listUsers" (click)="setUser(item)" class="my-2 p-2 flex flex-row cursor-pointer rounded-lg hover:bg-gray-50 hover:bg-opacity-50">
                  <img src="{{item.avatar}}" class="h-12 w-12 rounded-full mr-4" alt="">
                  <div class="w-full flex flex-col justify-center">
                    <div class="flex flex-row justify-between items-center pr-2">
                      <h2 class="text-xs font-bold">{{ item.name }}</h2>
                      <div class="text-xs flex flex-row">
                        <span class="bg-blue-500 py-1 px-2 rounded text-white text-sm">{{ item.address }}</span>
                      </div>
                    </div>
                    <div class="flex flex-row justify-between items-center">
                      <p class="text-xs text-gray-500">Chủ hộ: {{ item.mainMember }}</p>
                    </div>
                  </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Content section -->
    <div style="min-height: 90vh;" class="w-full xl:w-4/6 bg-white h-full lg:flex flex-col justify-start items-stretch border-r-2 border-l-2 border-gray-100 lg:rounded-r-md xl:rounded-none">
      <!-- Header with name -->
      <div class="flex flex-row items-center justify-between px-3 py-2 bg-gray-50 bg-opacity-40 border-b-2 border-gray-100">
        <div class="">
          <h2 class="font-medium">Chủ hộ: {{ userSelected?.mainMember }}</h2>
          <p class="text-xs text-gray-500">{{ userSelected?.countMember }} thành viên</p>
        </div>
        <div class="flex flex-row">
          <button type="button" class="p-2 ml-2 text-gray-400 rounded-full hover:text-blue-500 focus:outline-none" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
            </svg>
          </button>
          <button type="button" class="p-2 ml-2 text-gray-400 rounded-full hover:text-blue-500 focus:outline-none" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
              <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
            </svg>
          </button>
          <button type="button" class="p-2 ml-2 text-gray-400 rounded-full hover:text-red-500 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
          </button>
          <button type="button" class="p-2 ml-2 text-gray-400 rounded-full hover:text-blue-500 focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M5 4v3H4a2 2 0 00-2 2v3a2 2 0 002 2h1v2a2 2 0 002 2h6a2 2 0 002-2v-2h1a2 2 0 002-2V9a2 2 0 00-2-2h-1V4a2 2 0 00-2-2H7a2 2 0 00-2 2zm8 0H7v3h6V4zm0 8H7v4h6v-4z" clip-rule="evenodd" />
            </svg>
          </button>
          <button type="button" class="p-2 ml-2 text-gray-400 rounded-full hover:text-gray-600 hover:bg-gray-100 focus:outline-none focus:ring" aria-label="More">
            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
              <path fill-rule="nonzero" d="M12,16 C13.1045695,16 14,16.8954305 14,18 C14,19.1045695 13.1045695,20 12,20 C10.8954305,20 10,19.1045695 10,18 C10,16.8954305 10.8954305,16 12,16 Z M12,10 C13.1045695,10 14,10.8954305 14,12 C14,13.1045695 13.1045695,14 12,14 C10.8954305,14 10,13.1045695 10,12 C10,10.8954305 10.8954305,10 12,10 Z M12,4 C13.1045695,4 14,4.8954305 14,6 C14,7.1045695 13.1045695,8 12,8 C10.8954305,8 10,7.1045695 10,6 C10,4.8954305 10.8954305,4 12,4 Z"/>
            </svg>
          </button>
        </div>
      </div>
      <!-- Content -->
      <div class="-mx-4 px-4 sm:px-8 py-4">
        <div class="flex flex-col justify-center text-center pb-5">
          <h1 class="p-5 font-bold">NAM MÔ A DI ĐÀ PHẬT PHỤC VĨ</h1>
          <h3 class="p-2">
            Tai tín thối độ đẩu tú tinh quân, việc tội tiêu trừ kỳ tăng phước thọ, sớ vì Việt Nam quốc, Tiền Giang tỉnh, Gò Công thị xã, Bình Xuân xã, cư cung tựu, Bửu Hưng Tự, trụ phụng Phật tu hương thiết cúng tai tin, kỳ an bá tánh kim vì tín chủ.
          </h3>
        </div>
        <div class="inline-block min-w-full shadow rounded-lg overflow-auto" style="max-height: 70vh; min-height: 50vh; max-width: 95vw">
            <table class="min-w-full leading-normal">
                <thead>
                    <tr>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Tên
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Tuổi
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Giới tính
                        </th>
                        <th class="px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
                            Sao
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <div class="flex items-center">
                                <div class="flex-shrink-0 w-10 h-10">
                                    <img class="w-full h-full rounded-full"
                                        src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.2&w=160&h=160&q=80"
                                        alt="" />
                                </div>
                                <div class="ml-3">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                        Vera Carpenter
                                    </p>
                                </div>
                            </div>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">25</p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <p class="text-gray-900 whitespace-no-wrap">
                                Nữ
                            </p>
                        </td>
                        <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
                            <span
                                class="relative inline-block px-3 py-1 font-semibold text-green-900 leading-tight">
                                <span aria-hidden
                                    class="absolute inset-0 bg-green-200 opacity-50 rounded-full"></span>
                                <span class="relative">Thủy diệu</span>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- bottom content -->
        <div class="flex flex-col justify-center text-center pb-5">
          <h3 class="p-2">
            Hiệp gia quyến tín chủ đại tiểu đẳng tức nhựt phần hương tâm thành khấu bái thánh ân chứng minh vĩ văn cẩn sớ tế thứ ……….. niên phụng vì tín chủ khấu bái thượng sớ.          </h3>
        </div>
      </div>
    </div>    
  </section>
</div>