<div class="main">
  <div class="banner">
    <div class="banner-bg"></div>
    <div class="banner-content">
      <h1>Vinh Pham</h1>
      <div class="location">
        <span><i class="fa fa-map-marker"></i>&nbsp;Ho Chi Minh City</span>
      </div>
      <div>
        <a class="button banner-button">Back</a>
      </div>
    </div>
  </div>
  
  <div class="content">
    <div>
      <h2>Bio</h2>
      <p>Renowned planet-wide for his bug-detection skills, Deckard's 15 years experience as a bounty-hunter can't be
        beaten. Deckard specializes in intrusion prevention and error-prone code retirement.</p>
    </div>
  </div>
</div>