
/* Background */
.sf-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-image: url('https://image.freepik.com/free-photo/rear-view-programmer-working-all-night-long_1098-18697.jpg');
  // background-image: url("https://image.freepik.com/free-photo/3d-technology-digital-wave-particle-background_1048-12583.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Progress Bar */

.sf-progress {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #fff8;

  > .sf-progress-bar {
    height: 5px;
    background-color: #4f9;
  }
}

/* User Data (Upper Right) */

.sf-user-data {
  font-size: 30px;

  .sf-clock {
    display: flex;
    align-items: center;
    justify-content: center;

    .fa-clock {
      padding-right: 15px;
      font-size: 35px;
      border-right: 2px solid #fffa;
    }

    .sf-time-and-day {
      padding-left: 15px;
      padding-right: 25px;

      h4,
      h6 {
        margin: 0;
      }

      h4 {
        font-size: 18px;
      }

      h6 {
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .sf-user-data .sf-clock {
    margin-top: 15px;
  }
}

.sf-user-profile-image {
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.sf-username {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  padding-right: 15px;
  border-left: 2px solid #fffa;
  margin: 0;
}

.sf-users {
  &.left img {
    animation: from-left 1s linear forwards;
  }

  &.right img {
    animation: from-right 1s linear forwards;
  }
}

/* Clan Logo */

.sf-clan-area {
  margin-top: 25px;
  margin-bottom: 100px;
  text-align: center;
  animation: fade-in 2s linear forwards;
}

.sf-clan-logo {
  height: 250px;
  padding: 15px;
}

.sf-clan-area {
  h4,
  h6 {
    text-align: center;
  }
}

.sf-logo-area {
  position: relative;
  width: 250px;
  margin: 0 auto;
}

.sf-clan-logo-loading {
  position: absolute;
  top: 0;
  left: 8px;
  height: 250px;
  padding: 15px;
  clip-path: inset(100% 0 0 0);
  transition: 0.2s linear all;
}

@media only screen and (max-width: 992px) {
  .sf-clan-area {
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .sf-clan-logo {
    height: 200px;
    padding: 5px;
  }

  .sf-logo-area {
    width: 200px;
  }

  .sf-clan-logo-loading {
    height: 200px;
    padding: 5px;
  }
}

@media only screen and (max-width: 768px) {
  .sf-clan-logo {
    height: 125px;
    padding: 0;
  }

  .sf-logo-area {
    width: 125px;
  }

  .sf-clan-logo-loading {
    left: 5px;
    height: 125px;
    padding: 0;
  }
}

@media only screen and (max-width: 576px) {
  .sf-clan-logo {
    height: 75px;
    padding: 0;
  }

  .sf-logo-area {
    width: 75px;
  }

  .sf-clan-area {
    h6 {
      font-size: 0.8rem;
    }

    h4 {
      font-size: 1rem;
    }
  }

  .sf-clan-logo-loading {
    left: 3px;
    height: 75px;
    padding: 0;
  }
}

/* Menu System */

.sf-menu-system {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sf-menu {
    padding: 0;
    list-style-type: none;
    width: 50%;

    > li {
      padding: 10px 0;
      margin: 15px 0;
      border-bottom: 1px solid #fff5;
      cursor: pointer;
      transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
      transform: translateY(1000%);
      animation: from-bottom 1s linear forwards;
      background-color: #fff3;
      border-radius: 10px;
      padding: 10px;
      color: white;

      &:nth-child(1) {
        animation-delay: 1s;
      }

      &:nth-child(2) {
        animation-delay: 1.3s;
      }

      &:nth-child(3) {
        animation-delay: 1.6s;
      }

      &:nth-child(4) {
        animation-delay: 1.9s;
      }

      &:nth-child(5) {
        animation-delay: 2.2s;
      }

      &:hover {
        background-color: #fff3;
        border-left: 5px solid #4f9;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (max-width: 992px) {
  .sf-menu-system .sf-menu {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) {
  .sf-menu-system .sf-menu {
    width: 80%;
  }
}

/* Center Row */

.sf-focal-point {
  align-items: center;
}

/* User Images */

.sf-users img {
  position: relative;
  height: 75px;
  width: 75px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid transparent;
  cursor: pointer;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;

  &:hover {
    border: 2px solid #4f9;
    border-radius: 0;
  }
}

@media only screen and (max-width: 992px) {
  .sf-users img {
    height: 50px;
    width: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .sf-users img {
    height: 35px;
    width: 35px;
  }
}

@media only screen and (max-width: 576px) {
  .sf-users img {
    height: 25px;
    width: 25px;
  }
}

/* Sliders */

.sf-slider {
  width: 300px;
  -webkit-appearance: none;
  height: 5px;
  border-radius: 5px;
  background: #fffa;
  outline: none;
  margin-top: 5px;
  margin-bottom: 5px;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: background 0.15s ease-in-out;
    transition: background 0.15s ease-in-out;
    background: #4f9a;

    &:hover {
      background: #4f9;
    }
  }
}

/* Animations */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes from-left {
  0% {
    transform: translateX(-1000%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes from-right {
  0% {
    transform: translateX(1000%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes from-bottom {
  0% {
    transform: translateY(1000%);
  }

  100% {
    transform: translateY(0);
  }
}
