<div class="card">
  <section class="profile">
    <section class="img-container">
      <img src="assets/images/me/bg-avatar.jpg">
    </section>
    <section class="introduce">
      <p class="name"><i>Vinh</i> <i>Pham Huu</i></p>
      <p class="description">26, <i>Software developer</i></p>
      <p class="message">This design is originally belong to <cite>Javi Pérez.</cite> Please check his work! <a target="_blank" href="https://dribbble.com/javiperez">https://dribbble.com/javiperez.</a>
      </p>
    </section>
  </section>
  <section class="more-detail">
    <article>
      <section class="here-me">
        <p><span><i class="fa fa-map-marker" aria-hidden="true"></i>Ho Chi Minh City</span><span>300 m</span></p>
      </section>
      <section class="like">
        <h2>I LIKE AS YOU</h2>
        <ul>
          <li>Sushi</li>
          <li>Yoka</li>
          <li>Soda</li>
          <li>Photography</li>
        </ul>
      </section>
      <section class="also-like">
        <h2>I ALSO LIKE</h2>
        <ul>
          <li>Fashion</li>
          <li>Basketball</li>
          <li>Flowers</li>
        </ul>
      </section>
      <section class="twitter">
        <h2>MY TWEETS</h2>
        <div class="avatar">
           <img>
        </div>
        <article class="twit-post">
          
          <p class="name">Abigail Keenan</p>
          <p class="twit">@abbykeenan3</p>
          <p class="message">The photo is belong to <cite>Abigail Keenan</cite> please check her work! 
            <a target="_blank" href="http://www.abigailkeenan.com/">http://www.abigailkeenan.com</a>. </p>
        </article>
      </section>
    </article>
  </section>
</div>