<div class="wrapper">
  <div class="img-bg"></div>
  <div class="img-area">
    <div class="inner-area">
      <img src="assets/images/me/avatar.jpg" alt="">
    </div>
  </div>
  <div class="icon arrow">
    <a href="/dashboard">
      <i  class="fa fa-arrow-left"></i>
    </a>
  </div>
  <div class="icon dots">
    <i class="fa fa-ellipsis-v"></i>
  </div>
  <div class="name">Vinh Phạm Hữu</div>
  <div class="about">Developer</div>
  <div class="social-icons">
    <a href="https://fb.com/vinhph112" class="fb"><i class="fa fa-facebook-f"></i></a>
    <a href="mailto:vinhph112@gmail.com" class="twitter"><i class="fa fa-envelope"></i></a>
    <a href="tel:+84933599926" class="phone"><i class="fa fa-phone"></i></a>
    <a href="https://github.com/vinhphamhuu" class="github"><i class="fa fa-github"></i></a>
  </div>
</div> 